<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <h6 class="mb-0">Careers</h6>
                    </li>
                    <li><a [routerLink]="['/careers']">Open Positions at SSENSE</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">

                    <h6 class="text-center">Careers</h6>
                    <img src="assets/images/career_fullscreen.jpg" class="img-fluid">
                    <p>We are always on the lookout for top talent to join us as we embark on bold and challenging initiatives. At SSENSE, each employee plays a critical role in driving the organization’s strategic plan forward. Currently serving 136 countries/regions,
                        generating an average of 53 million monthly page views, and achieving high double digit annual growth since inception, our field of focus has grown beyond that of a typical e-commerce entity as we explore the nexus of content,
                        commerce, and culture.</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>