<div id="wrapper">
    <div class="container">
        <!--Header-->

        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-5 pt-1">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="men">MEN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="women">WOMEN</a>
                        </li>
                        <li class="nav-item dropdown search">
                            <a class="nav-link  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#">SEARCH</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="search-men">
                                    <input type="text" class="dropdown-item" placeholder="Search Collection">
                                </div>
                                <div class="selectOption d-flex">
                                    <a class="dropdown-item" routerLink="men">MEN</a>
                                    <a class="dropdown-item" routerLink="women">WOMEN</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-2 text-center">
                    <a class="blog-header-logo text-dark" routerLink="home"><img src="assets/images/ssense_logo_v2.png" class="img-fluid"></a>
                </div>
                <div class="col-5 d-flex justify-content-end align-items-center">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" href="#">ENGLISH</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="login">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="wishlist">WISHLIST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="bag">SHOPPING BAG(0)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <!--header//end-->

    </div>
</div>