<section class="category">
    <div class="col-md-12">
        <div class="row clearfix mt-5">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <h6 class="mt-0 mb-0 mt-3"><a [routerLink]="['/editorial']">Stories</a></h6>
                    </li>
                    <li><a [routerLink]="['/editorial/art']">Art</a></li>
                    <li><a [routerLink]="['/editorial/culture']">Culture</a></li>
                    <li><a [routerLink]="['/editorial/fashion']">Fashion</a></li>
                    <li><a [routerLink]="['/editorial/market']">Market</a></li>
                    <li><a [routerLink]="['/editorial/music']">Music</a></li>
                    <li><a [routerLink]="['/editorial/product-curation']">Product Curation</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <h1>FASHION 2019</h1>
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial1.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial2.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial3.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial4.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial5.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="['']"><img src="assets/images/editorial6.jpg" class="img-fluid">
                                <h3>BIG SEAN IS BUILDING HIS LOS ANGELES LEGACY</h3>
                                <p>Fashion | Nov 1|</p>
                                <h3>On self-care, home nightclubs, and his forthcoming album, Don Life, the 31-year-old rapper reflects on finding success in his city.</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>