<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/men/accessories']">ACCESSORIES</a></li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/clothing']">CLOTHING</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/clothing/jackets']">Jackets & Coats</a></li>
                            <li><a [routerLink]="['/men/clothing/jeans']">Jeans</a></li>
                            <li><a [routerLink]="['/men/clothing/pants']">Pants</a></li>
                            <li><a [routerLink]="['/men/clothing/shirts']">Shirts</a></li>
                            <li><a [routerLink]="['/men/clothing/shorts']">Shorts</a></li>
                            <li><a [routerLink]="['/men/clothing/suits']">Suits & Blazers</a></li>
                            <li><a [routerLink]="['/men/clothing/sweaters']">Sweaters</a></li>
                            <li><a [routerLink]="['/men/clothing/swimwear']">Swimwear</a></li>
                            <li><a [routerLink]="['/men/clothing/tops']">Tops</a></li>
                            <li><a [routerLink]="['/men/clothing/underwear']">Underwear & Loungewear</a>
                                <ul class="liststyle">
                                    <li><a [routerLink]="['/men/clothing/underwear/boxers']">Boxers</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/briefs']">Briefs</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/pyjamas']">Pyjamas & Loungewear</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/robes']">Robes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/men/shoes']">SHOES</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Boxers</h6>
                    <p class="text-center mt-3">Endlessly essential, designer men’s boxer briefs appear in a dynamic range of designs, from the classic and conservative to the ornamentally outlandish. True to its namesake, the boxer short was designed in the 1920’s to provide fighters
                        with competitive advantages through enhanced comfort and mobility, features that remain essential to its enduring popularity and unassailable place in the theatre of viable underwear. Intarsia knit logos adorn the elastic hem of
                        select pieces, a time-honored branding strategy that essentializes the art of the typographic logo. Elsewhere. signature graphic patterns take the space of text, intoning house identity in an act of self-aware de-branding. Floral
                        patterns, jacquard designs, and other dynamic accents bring pops of color and personality to other pieces, providing an alternative to staid monochromatics. Button-fly options reflect the boxer’s timeless, classic heritage design,
                        while open-fly versions opt for a more contemporary minimalism. Constructions in Oxford and cotton jersey materials give comfort with space, while stretch viscose versions breathe easily, ideal for athletic or otherwise high-powered
                        routines.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>