<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">

                    <h6 class="text-center">Privacy Policy</h6>

                    <p>Last updated: October 2nd 2019</p>
                    <p>1. About this Policy</p>
                    <p>1.1 This Privacy Policy ("Policy") explains how we (as defined below) collect, share and use any information that, alone or in combination with other information, relates to you ("Personal Data") when you ("you" and "your") use our
                        website ssense.com (the "Website"), or when you call us or answer our surveys.</p>
                    <p>1.2 This Policy also sets out the rights that you have in relation to the Personal Data that we process about you and how you can exercise them.</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>