<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/men/accessories']">ACCESSORIES</a></li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/clothing']">CLOTHING</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/clothing/jackets']">Jackets & Coats</a></li>
                            <li><a [routerLink]="['/men/clothing/jeans']">Jeans</a></li>
                            <li><a [routerLink]="['/men/clothing/pants']">Pants</a></li>
                            <li><a [routerLink]="['/men/clothing/shirts']">Shirts</a></li>
                            <li><a [routerLink]="['/men/clothing/shorts']">Shorts</a></li>
                            <li><a [routerLink]="['/men/clothing/suits']">Suits & Blazers</a></li>
                            <li><a [routerLink]="['/men/clothing/sweaters']">Sweaters</a></li>
                            <li><a [routerLink]="['/men/clothing/swimwear']">Swimwear</a></li>
                            <li><a [routerLink]="['/men/clothing/tops']">Tops</a></li>
                            <li><a [routerLink]="['/men/clothing/underwear']">Underwear & Loungewear</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/men/shoes']">SHOES</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Clothing</h6>
                    <p class="text-center mt-3">Pragmatism and versatility connect the Fall collections on offer from our menswear designers, with modern meshings of shrewd tailoring, performance-driven athleticwear, and experimentally proportioned sportswear making up an adaptable
                        whole. Outerwear bridges the traditional and the technical. Hooded anoraks, raincoats, and down-filled puffer jackets rendered in technical materials exhibit hyper-utilitarian engineering, while perennial wool peacoats, leather
                        motorcycle jackets, and shearling jackets answer all style scenarios. For the tailoring-inclined, shirts and suiting in purist forms get elevated to statement status with bondage details, straps, and buckle accents, while graphic
                        embellishments and embroidery adorn quilted bombers, wool and cashmere cardigans, and crewneck pullovers. Taking streetwear into new contexts are tracksuits, zip-ups, and hoodies that offer subculture symbolism and technical invention.
                        Denim has a grunge appeal: Sulfur washes and ripped distressing are confidently casual, and tapered, wide-leg, and cropped fits exude an eclectic new masculinity.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/clothing.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">Black Compact Wool Coat</p>
                            </a>
                            <p class="text-center">$2950</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/clothing1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">White Chevron Pressed T-Shirt</p>
                            </a>
                            <p class="text-center">$700</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/clothing2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">White Poplin Shirt</p>
                            </a>
                            <p class="text-center">$505</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/clothing3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">Black Cotton Piqué Polo</p>
                            </a>
                            <p class="text-center">$390</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>