<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <p class="text-center mt-5">Your shopping bag is empty.</p>
                    <div class="text-center mt-4">
                        <a [routerLink]="['/men']" class="button button-primary mr-2" role="button" aria-pressed="true">SHOP MEN</a>
                        <a [routerLink]="['/women']" class="button button-primary" role="button" aria-pressed="true">SHOP WOMEN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>