<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row">

                    <h6 class="w-100 text-center">Country/Region preferences</h6>
                    <input type="text" class="form-control" placeholder="SEARCH COUNTRY/REGION">

                    <div class="col-md-3">
                        <h6 class="line">Americas</h6>
                        <ul class="ml-0" style="list-style-type: none;">
                            <li>Anguilla</li>
                            <li>Antigua and Barbuda</li>
                            <li>Argentina</li>
                            <li>Aruba</li>
                            <li>Barbados</li>
                            <li>Belize</li>
                            <li>Bermuda</li>
                            <li>Bolivia</li>
                            <li>Brazil</li>
                            <li>British Virgin Islands</li>
                            <li>Canada</li>
                            <li>Cayman Islands</li>
                            <li>Chile</li>
                            <li>Colombia</li>
                            <li>Costa Rica</li>
                            <li>Curaçao</li>
                            <li>Dominica</li>
                            <li>Dominican Republic</li>
                            <li>Ecuador</li>
                            <li>El Salvador</li>
                            <li>Falkland Islands</li>
                            <li>French Guiana</li>
                            <li>Greenland</li>
                            <li>Grenada</li>
                            <li>Guadeloupe</li>
                            <li>Guatemala</li>
                            <li>Guyana</li>
                            <li>Haiti</li>
                            <li>Honduras</li>
                            <li>Jamaica</li>
                            <li>Martinique</li>
                            <li>Mexico</li>
                            <li>Montserrat</li>
                            <li>Nicaragua</li>
                            <li>Panama</li>
                            <li>Paraguay</li>
                            <li>Peru</li>
                            <li>Puerto Rico</li>
                            <li>Saint Kitts and Nevis</li>
                            <li>Saint Lucia</li>
                            <li>Saint Vincent and the Grenadines</li>
                            <li>Sint Maarten</li>
                            <li>St. Pierre and Miquelon</li>
                            <li>Suriname</li>
                            <li>The Bahamas</li>
                            <li>Trinidad and Tobago</li>
                            <li>Turks and Caicos Islands</li>
                            <li>United States</li>
                            <li>Uruguay</li>
                            <li>US Virgin Islands</li>
                            <li>Venezuela</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h6 class="line">Europe</h6>
                        <ul class="ml-0" style="list-style-type: none;">
                            <li>Albania</li>
                            <li>Andorra</li>
                            <li>Austria</li>
                            <li>Belarus</li>
                            <li>Belgium</li>
                            <li>Bosnia and Herzegovina</li>
                            <li>Bermuda</li>
                            <li>Bolivia</li>
                            <li>Brazil</li>
                            <li>British Virgin Islands</li>
                            <li>Canada</li>
                            <li>Cayman Islands</li>
                            <li>Chile</li>
                            <li>Colombia</li>
                            <li>Costa Rica</li>
                            <li>Curaçao</li>
                            <li>Dominica</li>
                            <li>Dominican Republic</li>
                            <li>Ecuador</li>
                            <li>El Salvador</li>
                            <li>Falkland Islands</li>
                            <li>French Guiana</li>
                            <li>Greenland</li>
                            <li>Grenada</li>
                            <li>Guadeloupe</li>
                            <li>Guatemala</li>
                            <li>Guyana</li>
                            <li>Haiti</li>
                            <li>Honduras</li>
                            <li>Jamaica</li>
                            <li>Martinique</li>
                            <li>Mexico</li>
                            <li>Montserrat</li>
                            <li>Nicaragua</li>
                            <li>Panama</li>
                            <li>Paraguay</li>
                            <li>Peru</li>
                            <li>Puerto Rico</li>
                            <li>Saint Kitts and Nevis</li>
                            <li>Saint Lucia</li>
                            <li>Saint Vincent and the Grenadines</li>
                            <li>Sint Maarten</li>
                            <li>St. Pierre and Miquelon</li>
                            <li>Suriname</li>
                            <li>The Bahamas</li>
                            <li>Trinidad and Tobago</li>
                            <li>Turks and Caicos Islands</li>
                            <li>United States</li>
                            <li>Uruguay</li>
                            <li>US Virgin Islands</li>
                            <li>Venezuela</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h6 class="line">Asia & Middle East</h6>
                        <ul class="ml-0" style="list-style-type: none;">
                            <li>Afghanistan</li>
                            <li>American Samoa</li>
                            <li>Armenia</li>
                            <li>Australia</li>
                            <li>Azerbaijan</li>
                            <li>Bahrain</li>
                            <li>Bangladesh</li>
                            <li>Bhutan</li>
                            <li>Brazil</li>
                            <li>British Virgin Islands</li>
                            <li>Canada</li>
                            <li>Cayman Islands</li>
                            <li>Chile</li>
                            <li>Colombia</li>
                            <li>Costa Rica</li>
                            <li>Curaçao</li>
                            <li>Dominica</li>
                            <li>Dominican Republic</li>
                            <li>Ecuador</li>
                            <li>El Salvador</li>
                            <li>Falkland Islands</li>
                            <li>French Guiana</li>
                            <li>Greenland</li>
                            <li>Grenada</li>
                            <li>Guadeloupe</li>
                            <li>Guatemala</li>
                            <li>Guyana</li>
                            <li>Haiti</li>
                            <li>Hong Kong SAR</li>
                            <li>India</li>
                            <li>Indonesia</li>
                            <li>Mexico</li>
                            <li>Montserrat</li>
                            <li>Nicaragua</li>
                            <li>Panama</li>
                            <li>Paraguay</li>
                            <li>Peru</li>
                            <li>Puerto Rico</li>
                            <li>Saint Kitts and Nevis</li>
                            <li>Saint Lucia</li>
                            <li>Saint Vincent and the Grenadines</li>
                            <li>Sint Maarten</li>
                            <li>St. Pierre and Miquelon</li>
                            <li>Suriname</li>
                            <li>The Bahamas</li>
                            <li>Trinidad and Tobago</li>
                            <li>Turks and Caicos Islands</li>
                            <li>United States</li>
                            <li>Uruguay</li>
                            <li>Wallis and Futuna Islands</li>
                            <li>Yemen</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h6 class="line">Africa</h6>
                        <ul class="ml-0" style="list-style-type: none;">
                            <li>Algeria</li>
                            <li>Angola</li>
                            <li>Benin</li>
                            <li>Botswana</li>
                            <li>Burkina Faso</li>
                            <li>Belize</li>
                            <li>Bermuda</li>
                            <li>Bolivia</li>
                            <li>Brazil</li>
                            <li>British Virgin Islands</li>
                            <li>Canada</li>
                            <li>Cayman Islands</li>
                            <li>Chile</li>
                            <li>Colombia</li>
                            <li>Costa Rica</li>
                            <li>Curaçao</li>
                            <li>Dominica</li>
                            <li>Dominican Republic</li>
                            <li>Ecuador</li>
                            <li>El Salvador</li>
                            <li>Falkland Islands</li>
                            <li>French Guiana</li>
                            <li>Greenland</li>
                            <li>Grenada</li>
                            <li>Guadeloupe</li>
                            <li>Guatemala</li>
                            <li>Guyana</li>
                            <li>Haiti</li>
                            <li>Honduras</li>
                            <li>Jamaica</li>
                            <li>Martinique</li>
                            <li>Mexico</li>
                            <li>Montserrat</li>
                            <li>Nicaragua</li>
                            <li>Panama</li>
                            <li>Paraguay</li>
                            <li>Peru</li>
                            <li>Puerto Rico</li>
                            <li>Saint Kitts and Nevis</li>
                            <li>Saint Lucia</li>
                            <li>Saint Vincent and the Grenadines</li>
                            <li>Sint Maarten</li>
                            <li>St. Pierre and Miquelon</li>
                            <li>Suriname</li>
                            <li>The Bahamas</li>
                            <li>Trinidad and Tobago</li>
                            <li>Turks and Caicos Islands</li>
                            <li>United States</li>
                            <li>Western Sahara</li>
                            <li>Zambia</li>
                            <li>Zimbabwe</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>