<section class="category">
    <div class="col-md-12">
        <div class="row clearfix mt-5">
            <div class="col-md-2">
                <ul style="list-style-type: none;">

                    <li>
                        <h6 class="mt-0 mb-0 mt-3"><a [routerLink]="['/account']">Account</a></h6>
                    </li>
                    <li><a [routerLink]="['/account']">Account Details</a></li>
                    <li><a [routerLink]="['/email']">Email Preferences</a></li>
                    <li><a [routerLink]="['/order']">Order History</a></li>
                    <li><a [routerLink]="['/addresses']">Addresses</a></li>
                    <li><a [routerLink]="['/login']">Logout</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Saved Addresses</h6>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">ADD NEW ADDRESSES</button>
                </div>
            </div>
        </div>
    </div>
</section>