<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/men/accessories']">ACCESSORIES</a></li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/clothing']">CLOTHING</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/clothing/jackets']">Jackets & Coats</a></li>
                            <li><a [routerLink]="['/men/clothing/jeans']">Jeans</a></li>
                            <li><a [routerLink]="['/men/clothing/pants']">Pants</a></li>
                            <li><a [routerLink]="['/men/clothing/shirts']">Shirts</a></li>
                            <li><a [routerLink]="['/men/clothing/shorts']">Shorts</a></li>
                            <li><a [routerLink]="['/men/clothing/suits']">Suits & Blazers</a></li>
                            <li><a [routerLink]="['/men/clothing/sweaters']">Sweaters</a></li>
                            <li><a [routerLink]="['/men/clothing/swimwear']">Swimwear</a></li>
                            <li><a [routerLink]="['/men/clothing/tops']">Tops</a>
                                <ul class="liststyle">
                                    <li><a [routerLink]="['/men/clothing/tops/henleys']">Henleys</a></li>
                                    <li><a [routerLink]="['/men/clothing/tops/polos']">Polos</a></li>
                                    <li><a [routerLink]="['/men/clothing/tops/t-shirts']">T-Shirts</a></li>
                                    <li><a [routerLink]="['/men/clothing/tops/tank-tops']">Tank Tops</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink]="['/men/clothing/underwear']">Underwear & Loungewear</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/men/shoes']">SHOES</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Tank Tops</h6>
                    <p class="text-center mt-3">Possessing a surprisingly robust history, the men’s tank top was worn as a layering piece underneath heavy armor as far back as Ancient Rome and the Middle Ages. While this sleeveless garment may play a lighter role in modern times,
                        it remains and integral article of menswear capable of merging both sportswear and streetwear styling. Sleeveless constructions facilitate movement and athletic activities, a freedom reflected in the textile makeup of this season’s
                        collection of tank tops for men. Semi0sheer, mesh, and high-performance technical jersey lay the foundation for simple, yet statement-making styles. Hints of metal and punk-inspired printed graphics or nostalgic 70’s tailoring
                        appear in classic racer back or cut-off sleeve form. A tendency towards the avant-garde is not lacking in this season’s collection, with details such as lace-up vents, cut-outs, satin trim, or garment-pleated fabrics elevating
                        urban appeal. Overlong fits offer versatile styling possibilities. Casualwear options hang alongside luxe offerings of premium quality materials including silk, linen or organic cottons, ensuring the tank top’s status as a hyper-pragmatic
                        yet refined staple of contemporary menswear.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>