<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">

                    <h6 class="text-center">SSENSE Affiliate Program</h6>
                    <img src="assets/images/affiliate1.jpg" class="img-fluid">
                    <p>SSENSE is a fashion platform with global reach known for its curated selection of over 500 brands including Gucci, Off-White, Balenciaga, Maison Margiela, Marine Serre, Saint Laurent, and many more.</p>
                    <p>We invite innovative and avant-garde websites, blogs, and influencers from around the world to join our global Affiliate Program. As a member of the program, you can earn commissions when your visitors purchase from SSENSE.</p>
                    <h6>JOIN THE AFFILIATE PROGRAM</h6>
                    <p class="mb-3">Email us at affiliates@ssense.com with your name, email address, website URL, or social page. We will review your application and respond within one business day with additional information on how to join our Affiliate Program.</p>
                    <a [routerLink]="['/email']" class="button button-primary" role="button" aria-pressed="true">EMAIL US</a>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>