<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/men/accessories']">ACCESSORIES</a></li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/clothing']">CLOTHING</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/clothing/jackets']">Jackets & Coats</a></li>
                            <li><a [routerLink]="['/men/clothing/jeans']">Jeans</a></li>
                            <li><a [routerLink]="['/men/clothing/pants']">Pants</a></li>
                            <li><a [routerLink]="['/men/clothing/shirts']">Shirts</a></li>
                            <li><a [routerLink]="['/men/clothing/shorts']">Shorts</a></li>
                            <li><a [routerLink]="['/men/clothing/suits']">Suits & Blazers</a></li>
                            <li><a [routerLink]="['/men/clothing/sweaters']">Sweaters</a></li>
                            <li><a [routerLink]="['/men/clothing/swimwear']">Swimwear</a></li>
                            <li><a [routerLink]="['/men/clothing/tops']">Tops</a></li>
                            <li><a [routerLink]="['/men/clothing/underwear']">Underwear & Loungewear</a>
                                <ul class="liststyle">
                                    <li><a [routerLink]="['/men/clothing/underwear/boxers']">Boxers</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/briefs']">Briefs</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/pyjamas']">Pyjamas & Loungewear</a></li>
                                    <li><a [routerLink]="['/men/clothing/underwear/robes']">Robes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/men/shoes']">SHOES</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Robes</h6>
                    <p class="text-center mt-3">Epitomizing the meeting point between luxury and lethargy, the robe is a pivotal yet often overlooked piece of off-duty essential wear. The robe carries with it a spirit of pampering and relaxation that has made it a mainstay of hotels
                        and spas alike, and its silk variations have become irrevocably tied to a caricatural portrait of the bon-vivant. Thriving on the novelty appeal of this unabashedly posh loungewear staple, designer robes augment luxe terrycloth
                        constructions with their glaring trademarks, doubling down on the dandy aesthetic that the garment inherently connotes. Flannel variations push the robe beyond post-shower or post-swim contexts, resulting in a hybrid between domestic
                        lazy Sunday garb and off-kilter outerwear. The recent embrace of high-end commodities has inevitably altered the level of attention paid to the formerly neglected realm of casual apparel, a category which the robe has thus far
                        belonged to. With its dual status as homely self-care uniform and luxe statement piece, all signs suggest that the robe is poised to be logical installment in high fashion’s love affair with loungewear.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>