<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-4">
                <ul style="list-style-type: none;">
                    <li>
                        <h6 class="text-center">Nudie Jeans</h6>
                        <h6 class="text-center">Black Rebirth Denim Jacket</h6>
                        <p class="text-center">201078M177045</p>
                        <p class="text-center mt-3">Long sleeve stretch denim jacket in black. Spread collar. Button closure at front. Logo patch and flap pockets at chest. Logo and graphic embroidered in red, off-white, and pink at back. Adjustable buttoned tabs at back hem. Unlined.
                            Tonal hardware.</p>
                        <p class="text-center mt-3">Part of the Nudie Jeans Rebirth collection.</p>
                        <p class="text-center mt-3">Supplier color: Black</p>
                        <p class="text-center mt-3">79% cotton, 20% recycled cotton, 1% elastane. Imported.</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="row clearfix">
                    <img src="assets/images/men1.jpg" class="img-fluid mx-auto">
                </div>
            </div>

            <div class="col-md-4">
                <h6 class="text-center">$300 USD</h6>
                <p class="text-center">Free shipping on orders over $450 to India.</p>
                <p class="text-center">View Size Chart</p>
            </div>
        </div>
    </div>
</section>