<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/men/accessories']">ACCESSORIES</a></li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li><a [routerLink]="['/men/clothing']">CLOTHING</a></li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/shoes']">SHOES</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/shoes/boat']">Boat Shoes & Moccasins</a></li>
                            <li><a [routerLink]="['/men/shoes/boots']">Boots</a></li>
                            <li><a [routerLink]="['/men/shoes/espadrilles']">Espadrilles</a></li>
                            <li><a [routerLink]="['/men/shoes/lace']">Lace Ups</a></li>
                            <li><a [routerLink]="['/men/shoes/loafers']">Loafers</a></li>
                            <li><a [routerLink]="['/men/shoes/monkstraps']">Monkstraps</a></li>
                            <li><a [routerLink]="['/men/shoes/sandals']">Sandals</a></li>
                            <li><a [routerLink]="['/men/shoes/sneakers']">Sneakers</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Shoes</h6>
                    <p class="text-center mt-3">Concurrently embodying a function-driven design aesthetic as well as a favorable retention of streetwise appeal, designer men's shoes exhibit countless stylistic opportunities for any wearer. Thoroughly considered low-top lace-ups
                        and slip-on skate shoes echo tech-utilitarianism with futuristic forms and innovative fabrications. Minimalist sensibilities are strengthened through modern staples. Artisanal constructions of classic oxfords, derby lace ups, and
                        loafers are not only rendered in sumptuous leathers, but also feature eye-catching buckles and contrasting panel accents. Seasonal favorites such as sandals and espadrilles defy simple conventions to redefine themselves and their
                        own connotative value. Rugged sophistication is afforded to the wearer via clever Chelsea boots which value comfort as much as they do luxury. With contemporary men's designer shoes it is not a matter of making a statement, but
                        rather understanding what statement you would like to make.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/shoe.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">Black Intrecciato Douglas Loafers</p>
                            </a>
                            <p class="text-center">$640</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/shoe1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">White & Black Maxi Intrecciato Slip-On</p>
                            </a>
                            <p class="text-center">$660</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/shoe2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">White Speedster Sneakers</p>
                            </a>
                            <p class="text-center">$755</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/shoe3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Bottega Veneta</h6>
                                <p class="text-center">Black & Brown Transparent Len Brogues</p>
                            </a>
                            <p class="text-center">$725</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>