<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/help']">
                            <h6 class="mb-0">Help</h6>
                        </a>
                    </li>
                    <li><a [routerLink]="['/productinformation']">Product Information</a></li>
                    <li><a [routerLink]="['/paymentinformation']">Payment Information</a></li>
                    <li><a [routerLink]="['/yourorder']">Your Order</a></li>
                    <li><a [routerLink]="['/shipping']">Shipping & Handling</a></li>
                    <li><a [routerLink]="['/returnpolicy']">Return Policy</a></li>
                    <li><a [routerLink]="['/coupons']">Coupons & Promotions</a></li>
                    <li><a [routerLink]="['/priceprotection-policy']">Price Protection Policy</a></li>
                    <li><a [routerLink]="['/corporate-responsibility']">Corporate Social Responsibility</a></li>
                    <li><a [routerLink]="['/manage-account']">Managing Your Account</a></li>
                    <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                    <li><a [routerLink]="['/masthead']">Masthead</a></li>
                    <li><a [routerLink]="['/accessibility']">Accessibility</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">

                    <h6 class="text-center">Price Protection Policy</h6>
                    <h6>Price Adjustment Policy</h6>
                    <p>If a purchased item goes on sale SSENSE offers a one-time price adjustment on your order, under the following conditions</p>
                </div>
            </div>
            <div class="col-md-2">
                <h6>Customer Care</h6>
                <p>Please call us for immediate answers to</p>
                <p>questions regarding orders and shipping.</p>
                <p>Toll Free +1 877 637 6002</p>
                <p>English +1 514 600 5818</p>
                <p>French +1 514 700 2078</p>
                <p>We are available 24 hours a day, 7 days a week.</p>

            </div>
        </div>
    </div>
</section>