<!---->
<section class="contentSection mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-6">
                <img src="assets/images/sensegirl2.png" class="w-100">
                <h4 class="mb-0"><label>Fashion</label>
                    <span class="favoritefont pl-4">(What’s The Story) Ronan Mckenzie?</span>
                </h4>
                <p class="fontnormalSerif">
                    Recasting British Weather-Wear with the Up-and-Coming London Photographer
                </p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/sensegirl.png" class="w-100">
                <h4 class="mb-0"><label>Market</label>
                    <span class="favoritefont pl-4">The Cozy Conversation Piece</span>
                </h4>
                <p class="fontnormalSerif">Both Easy and Intriguing ft. Wales Bonner, Homme Plisse Issey Miyake, and Clarks Originals
                </p>
            </div>
        </div>
    </div>
</section>


<div class="container-fluid">
    <section class="contentSection mt-5 mb-5">
        <div class="col-md-12">
            <div class="row clearfix">
                <div class="col-md-4">
                    <img src="assets/images/sensegirl3.png" class="w-100">
                    <div class="row clearfix mt-3">
                        <div class="col-md-2">
                            <label>RECENT</label>
                        </div>
                        <div class="col-md-10">
                            <span class="favoritefont">1 Granary is a Trade Magazine for the Fashion Industry</span><br>
                            <span class="fonttimesJha">Fashion&nbsp; | &nbsp;Oct8</span>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/sensegirl4.png" class="w-100">
                    <div class="row clearfix mt-3">
                        <div class="col-md-2">
                            <label>RECENT</label>
                        </div>
                        <div class="col-md-10">
                            <span class="favoritefont">Priya Ahluwalia Is The Menswear Designer To Watch</span><br>
                            <span class="fonttimesJha">Fashion&nbsp; |&nbsp; Oct7</span>
                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <img src="assets/images/sensegirl5.png" class="w-100">
                    <div class="row clearfix mt-3">
                        <div class="col-md-2">
                            <label>RECENT</label>
                        </div>
                        <div class="col-md-10">
                            <span class="favoritefont">A$AP Ferg Gets His Nails Done</span><br>
                            <span class="fonttimesJha">Music&nbsp; |&nbsp; Oct4</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>