<section class="category">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
                <ul style="list-style-type: none;">
                    <li>
                        <a [routerLink]="['/men']">
                            <h6 class="mb-0">All Categories</h6>
                        </a>
                    </li>
                    <li>
                        <h6 class="mt-0 mb-0"><a [routerLink]="['/men/accessories']">ACCESSORIES</a></h6>
                        <ul class="liststyle">
                            <li><a [routerLink]="['/men/accessories/belts']">Belts & Suspenders</a></li>
                            <li><a [routerLink]="['/men/accessories/blankets']">Blankets</a></li>
                            <li><a [routerLink]="['/men/accessories/eyewear']">Eyewear</a></li>
                            <li><a [routerLink]="['/men/accessories/gloves']">Gloves</a></li>
                            <li><a [routerLink]="['/men/accessories/hats']">Hats</a></li>
                            <li><a [routerLink]="['/men/accessories/jewelry']">Jewelry</a></li>
                            <li><a [routerLink]="['/men/accessories/keychains']">Keychains</a></li>
                            <li><a [routerLink]="['/men/accessories/pocket']">Pocket Squares & Tie Bars</a></li>
                            <li><a [routerLink]="['/men/accessories/scarves']">Scarves</a></li>
                            <li><a [routerLink]="['/men/accessories/socks']">Socks</a></li>
                            <li><a [routerLink]="['/men/accessories/tech']">Tech</a></li>
                            <li><a [routerLink]="['/men/accessories/ties']">Ties</a>
                                <ul class="liststyle">
                                    <li><a [routerLink]="['/men/accessories/ties/bow']">Bow Ties</a></li>
                                    <li><a [routerLink]="['/men/accessories/ties/neck']">Neck Ties</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink]="['/men/accessories/towels']">Towels</a></li>
                            <li><a [routerLink]="['/men/accessories/umbrellas']">Umbrellas</a></li>
                            <li><a [routerLink]="['/men/accessories/wallets']">Wallets & Card Holders</a></li>
                            <li><a [routerLink]="['/men/accessories/watches']">Watches</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/men/bags']">BAGS</a></li>
                    <li><a [routerLink]="['/men/clothing']">CLOTHING</a></li>
                    <li><a [routerLink]="['/men/shoes']">SHOES</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <h6 class="text-center">Ties</h6>
                    <p class="text-center mt-3">Designer slim-cut and wide ties continue to offer completion to any men’s formal ensemble, but they also bring the possibility of embellishment and juxtaposition to streetwear and hybrid outfits. The long enduring formal wardrobe staple,
                        standardized in 1926 by Jesse Langdorf’s modern design, has been assailed by any number of attacks this past century, from brief-yet-pervasive fads to profound and permanent social changes away from old rituals and images of prestige,
                        from the bohemian sophistication of turtlenecks to the free-thinking post-hippie corporatism of California casual. Each and every time, the tie has not only survived but further entrenched its relevancy. In the contemporary cultural
                        climate of hybridity, this relevancy is increasingly manifested in millennial ‘high-low’ culture pairings, wherein the tie’s seemingly static and archaic appearance has become perhaps its greatest asset. Intarsia graphic patterns
                        boldly display house aesthetics, intimating personality, while subdued monochromatic and contrast designs take a more sober, classic approach.</p>
                </div>
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"> <img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men1.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men2.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men3.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men4.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men5.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Phipps</h6>
                                <p class="text-center">Beige Logo Headband</p>
                            </a>
                            <p class="text-center">$75</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men6.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Yang Li</h6>
                                <p class="text-center">Black 'Samizdat' Beanie</p>
                            </a>
                            <p class="text-center">$90</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men7.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Fendi</h6>
                                <p class="text-center">Black & Grey FF M0066 Sunglass</p>
                            </a>
                            <p class="text-center">$320</p>
                        </div>
                        <div class="col-md-3 mb-3">
                            <a [routerLink]="['/men/details']"><img src="assets/images/sub-men8.jpg" class="img-fluid">
                                <h6 class="text-center mb-0">Balenclaga</h6>
                                <p class="text-center">Black Fire Rectangular Sunglasses</p>
                            </a>
                            <p class="text-center">$435</p>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-right" onclick="hideSection()" style="cursor:pointer;">SORT <span>+</span></h6>
                <div id="hideSortsection">
                    <ul class="liststyle text-right">
                        <li>
                            <a href="#">
                                <h6 class="mb-0">Latest arrivals</h6>
                            </a>
                        </li>
                        <li><a href="#">Trending</a></li>
                        <li><a href="#">Price:Low to high</a></li>
                        <li><a href="#">Price:High to low</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>