<section class="category mt-3">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="col-md-12">

                    <h6 class="text-center">Terms & Conditions</h6>

                    <p>Welcome to the SSENSE website. We hope you enjoy your visit. This is how we collect your personal information on this website and how we protect it.</p>
                    <p>When you visit this website, we use cookies that recognize your device and record your visit. This allows us to understand your interests and serve you ads or promotional offers according to your interests.</p>
                    <p>You can however block cookies through your browser, by going into the privacy settings section of the Tools or Preferences menu (depending on your browser). Please refer to our Privacy Policy for more information. Should you decide
                        to block the essential cookies for the site to function described above, you will not be able to purchase products from the site, and may experience difficulties navigating it.</p>
                    <p>When you make your first purchase, you open an account and provide us the information requested and necessary to place the order and have your purchase delivered.</p>
                    <h6>Contact us</h6>
                    <p>If you have any questions about the SSENSE Privacy Policy and practices, or if you would like your account to be deleted, please feel free to contact us by phone at +1 877 637 6002 or via email at dataprotection@ssense.com.</p>
                    <p>For any customer service related inquiries, please visit the contact us section of our website.</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section>